body {
  margin: 0;
  overflow: hidden;
}

#grid-container {
  display: grid;
  margin: 0;
  width: 100vw;
  height: 100vh;
}

#grid-container>div {
  /* text-align: center; */
  transition: border-color 500ms, background-color 250ms;
  border: 1px solid transparent;
}

.mono {
  background-color: #FFFFFF !important;
  border: 1px solid black !important;
}