* {
  font-family: 'Work Sans', sans-serif;
  color: #FFFFFF;
  margin: 0;
}

h1 {
  font-size: 2.3rem;
  font-weight: 800;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {
  font-size: 1.3rem;
  padding-top: 10px;
  letter-spacing: .5px;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}

h4 {

}

h5 {
  font-weight: 800;
  font-size: 0.8rem;
  margin-top: 0px
}

h6 {
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-top: 0px;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}